<form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input
        matInput
        placeholder="johnny789@blah.co"
        formControlName="to">
        <mat-icon matSuffix>face</mat-icon>
        <mat-hint>Enter their email address</mat-hint>
        <mat-error *ngIf="myForm.controls.to.invalid">dest address must be provided</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
        matInput
        placeholder="Title..."
        formControlName="title">
        <mat-icon matSuffix> vpn_key </mat-icon>
        <mat-hint>How do you feel today?</mat-hint>
        <mat-error *ngIf="myForm.controls.title.errors?.required" >title must be provided</mat-error>
        <mat-error *ngIf="myForm.controls.title.errors?.minlength" >title must at least 4 characters</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Body</mat-label>
        <input
        matInput
        placeholder="wassup?"
        formControlName="body">
        <mat-icon matSuffix> vpn_key </mat-icon>
        <mat-hint>How do you feel today?</mat-hint>
       
      </mat-form-field>
      <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="myForm.invalid" 
      >SEND</button>
</form>

<!-- {{myForm.value |json}} -->